
<div class="text-center">

    <h1 class="display-4">Soy Julio Fabian De la Rosa Izquierdo</h1>
    <h2>Soy un desarrollador .NET/ASP.NET</h2>

    <img src="~/imagenes/profile.png" id="foto" alt="Foto de perfil usuario" />
</div>

<!--Imagen de fondo-->
<div class="text-center">
    <br />
    <br />
    <img id="imagen-dotnet" src="~/imagenes/dotnet-imagen-2.png" />
</div>

<!--Banner de descripcion del usuario-->
<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">

        <h1>¡Hola! Bienvenido a mi portafolio.</h1>
        <p>
            Hola soy un estudiante de desarrollo de software de la Universidad Autonoma de Nuevo Leon, en la FIME.
            estoy cursando el octavo semestre y me especializo en tecnologia .NET con el lenguaje de programacion
            C# trabajo en una conocida empresa de Forja en el area de TI desarrollando los sistemas de la compañia
            y estudio para mejorar mis habilidades, nunca me rindo.
        </p>

    </div>
</div>