
@{
    ViewData["Title"] = "Gracias";
}



<h1>Gracias por contactarme!</h1>
<h3>Me podre en contacto con tigo lo mas pronto posible.</h3>

<div><a asp-action="Index" asp-controller="Home">Volver al inicio</a></div>
